{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="house">
    register</a
  >
  <a href="admin">
    admin</a>
  <a href="services">
      services</a>
      <a href="register">
        register</a>

<h1>welcome</h1>

<style>
  body{
    background-image:url("/static/images/house.JPG");
    background-repeat: no-repeat;
    background-size: cover;
  }
  h2{
    text-align: center ;
    text-shadow: aqua;
    font-size: large;
    font-style: oblique;
  }
    
  
</style>
<br><br>
<br><h2>your comfort is our priority</h2>

{%endblock%}