
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOOKING SYSTEM</title>
    {% load static %}

    <link href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'bootstrap.min.js' %}"></script>  
    <script> 
    
    </script>  

    {% block custom_css %}{% endblock custom_css %}

</head>

<body>
    

    {% block content %}

    
    {% endblock content %}


   
</body>

</html>